.services-header-h2 {
	font-size: 2.25em;
}

.Services-task-amount {
	font-size: 3rem;
	color: #525F7F;
	margin:40px 0;
	margin-bottom:50px;
}

div.Services-description {
	line-height: 0;
}

.services-web-link {
	margin: 0;
	padding: 0;
	color: blue;
	text-decoration: underline;
}

.services-web-link:hover {
	color: #FB6340;
	text-decoration: underline;
}

p.lead-text {
	font-size: 1.25em;
	font-weight: 200 !important;
	line-height: 1.7;
	color: #8898aa!important;
}

p em {
	font-size: .75em;
}

.Services-card-h3 {
	font-weight: 300 !important;
}

.card-button-text {
	margin: 0;
	padding: 10px 5em;
	font-size: .875em;
	font-weight: 600;
	letter-spacing: .025em;
}

.card-text-description {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: initial;
}

.card-paragraph-description {
	margin-right: 10px;
	color: #525F7F;
}

.card-list-bullet {
	margin-right: 5px;
}
