.webservices-project-section {
	height: 100%;
	width: 100%;
	
}

.web-projects-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	
}

.web-projects-header {
	
}

.web-projects-body {
	width: 100%;
	
	padding-bottom: 25px;
}

.web-projects-body-container {
	display: flex;
	
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0 70px;
}

.web-project-item {
	margin: 20px;
	width: 250px;
	height: 186px;
	border: 1px solid black;
	position: relative;
  
}

.web-project-item-container {
  
}

.web-project-item-image {
  width: 100%;
  height: 184px;
}

.web-project-item-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.web-project-overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0,140,186, 0.8);
  overflow: hidden;
  width: 100%;
  height:0;
  
  transition: .5s ease;
}

.web-project-item:hover .web-project-overlay {
  bottom: 0;
  height: 100%;
}

.web-project-link {
	color: white;
	text-align: center;
}

.web-project-link:hover {
	color: white;
	text-align: center;
}

.web-description {
	font-size: .8rem;
	color: #525F7F;
}

.card-margin-bottom {
	margin-bottom: 5px;
}

@media screen and (max-width: 992px){
	.card-margin-bottom {
		margin-bottom: 50px;
	}
}